[submodule "happly"]
	path = happly
	url = https://github.com/nmwsharp/happly.git
[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "eigen-git-mirror"]
	path = eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "CImg"]
	path = CImg
	url = https://framagit.org/dtschump/CImg.git
